In [1]:
# WANT: Proj SOG

# Model:

# - SOG/GP TY
# - SOG/GP L3-L5
# - Opp Team Allowed SOG/GP TY
# - Opp Team Allowed SOG/GP L3-L5

# Additional:

# - Any Starting Opp D out
# - Starting Opp G out
# - Back to back games
# - Home vs Away
# - Penalties

homeTeam = "EDM"
awayTeam = "BOS"

In [5]:
# Resources:

# Imports
import pandas as pd
import numpy as np

# Endpoints
dataEndpoint = 'https://statsapi.web.nhl.com/api/v1/teams?expand=team.roster'

# Example: https://www.nhl.com/player/connor-mcdavid-8478402?stats=gamelogs-r-nhl&season=20222023
#
# Key: https://www.nhl.com/player/firstName-lastName-playerId?stats=gamelogs-r-nhl&season=20222023
resourceEndpoint = 'https://www.nhl.com/player/'

In [86]:
import requests
import json

# Build Dataset

test = requests.get(dataEndpoint)

with open("data.json", "w") as outfile:
    json.dump(test.json(), outfile)

with open('data.json', 'r') as f:
    data = json.load(f)

data = data['teams']

In [96]:
df = pd.DataFrame(columns=["team", "firstName", "lastName", "playerId"])

for team in data:
    abv = team['abbreviation']
    roster = team['roster']
    roster = roster['roster']
    for player in roster:
        person = player['person']
        fullName = person['fullName']
        fullName = fullName.split()
        firstName = fullName[0]
        lastName = fullName[1]
        id = person['id']
        
        entry = pd.DataFrame.from_dict({
            "team": [abv],
            "firstName":  [firstName],
            "lastName": [lastName],
            "playerId": [id]
        })
        
        df = pd.concat([df, entry], ignore_index=True)
        
df.loc[df['team'] == awayTeam]

    team firstName  lastName playerId
123  BOS      Nick   Foligno  8473422
124  BOS    Taylor      Hall  8475791
125  BOS     Anton  Stralman  8471873
126  BOS   Patrice  Bergeron  8470638
127  BOS     David    Krejci  8471276
128  BOS      Brad  Marchand  8473419
129  BOS    Dmitry     Orlov  8475200
130  BOS   Charlie     Coyle  8475745
131  BOS     Derek   Forbort  8475762
132  BOS    Hampus  Lindholm  8476854
133  BOS      Matt  Grzelcyk  8476891
134  BOS     Linus   Ullmark  8476999
135  BOS    Connor   Clifton  8477365
136  BOS     Tyler  Bertuzzi  8477479
137  BOS    Garnet  Hathaway  8477903
138  BOS     Tomas     Nosek  8477931
139  BOS     David  Pastrnak  8477956
140  BOS     Pavel     Zacha  8478401
141  BOS     Jakub    Zboril  8478415
142  BOS      A.J.     Greer  8478421
143  BOS   Brandon     Carlo  8478443
144  BOS      Jake   DeBrusk  8478498
145  BOS   Charlie    McAvoy  8479325
146  BOS     Trent  Frederic  8479365
147  BOS    Jeremy   Swayman  8480280
148  BOS     Jakub     Lauko  8480880

In [100]:
homedf = df.loc[df['team'] == homeTeam]
awaydf = df.loc[df['team'] == awayTeam]
gamedf = pd.concat([homedf, awaydf], ignore_index=True, sort=False)
gamedf

   team firstName        lastName playerId
0   EDM      Ryan          Murray  8476850
1   EDM   Evander            Kane  8475169
2   EDM   Mattias          Ekholm  8475218
3   EDM      Nick        Bjugstad  8475760
4   EDM      Zach           Hyman  8475786
5   EDM      Jack        Campbell  8475789
6   EDM      Ryan  Nugent-Hopkins  8476454
7   EDM      Cody            Ceci  8476879
8   EDM     Devin           Shore  8476913
9   EDM     Brett           Kulak  8476967
10  EDM   Mattias         Janmark  8477406
11  EDM   Darnell           Nurse  8477498
12  EDM      Leon       Draisaitl  8477934
13  EDM    Warren         Foegele  8477998
14  EDM    Connor         McDavid  8478402
15  EDM     Derek            Ryan  8478585
16  EDM   Vincent      Desharnais  8479576
17  EDM    Stuart         Skinner  8479973
18  EDM    Kailer        Yamamoto  8479977
19  EDM      Klim          Kostin  8480011
20  EDM      Ryan          McLeod  8480802
21  EDM      Evan        Bouchard  8480803
22  EDM    Philip         Broberg  8481598
23  BOS      Nick         Foligno  8473422
24  BOS    Taylor            Hall  8475791
25  BOS     Anton        Stralman  8471873
26  BOS   Patrice        Bergeron  8470638
27  BOS     David          Krejci  8471276
28  BOS      Brad        Marchand  8473419
29  BOS    Dmitry           Orlov  8475200
30  BOS   Charlie           Coyle  8475745
31  BOS     Derek         Forbort  8475762
32  BOS    Hampus        Lindholm  8476854
33  BOS      Matt        Grzelcyk  8476891
34  BOS     Linus         Ullmark  8476999
35  BOS    Connor         Clifton  8477365
36  BOS     Tyler        Bertuzzi  8477479
37  BOS    Garnet        Hathaway  8477903
38  BOS     Tomas           Nosek  8477931
39  BOS     David        Pastrnak  8477956
40  BOS     Pavel           Zacha  8478401
41  BOS     Jakub          Zboril  8478415
42  BOS      A.J.           Greer  8478421
43  BOS   Brandon           Carlo  8478443
44  BOS      Jake         DeBrusk  8478498
45  BOS   Charlie          McAvoy  8479325
46  BOS     Trent        Frederic  8479365
47  BOS    Jeremy         Swayman  8480280
48  BOS     Jakub           Lauko  8480880

In [111]:
fn = gamedf['firstName'][0]
ln = gamedf['lastName'][0]
id = gamedf['playerId'][0]

url = resourceEndpoint + fn + '-' + ln + '-' + str(id)

playerL5 = pd.read_html(url)
playerL5[5]

  Opponent    Date  G  A  P  +/-  PIM  PPG  SHG  S  Shifts    TOI
0      NJD  NOV 21  0  0  0    0    0    0    0  0      21  14:41
1      VGK  NOV 19  0  1  1    0    0    0    0  0      17  14:25
2      LAK  NOV 16  0  1  1    0    0    0    0  0      16  12:25
3      CAR  NOV 10  0  0  0   -1    0    0    0  1      18  13:48
4      TBL   NOV 8  0  0  0    0    0    0    0  0      19  15:35